<template>
    <div class="autocomplete">
        <VTextField
            :label="props.label"
            class="search"
            :loading="loading"
            v-model="value"
            @focus="focus = true"
            @blur="focus = false"
        />
        <div class="completion elevation-24">
            <VSlideYTransition>
                <VList v-if="focus">
                    <VListItem v-for="el in props.list" @click="emit('selected', el)" :key="el">
                        <VListItemTitle>{{ el }}</VListItemTitle>
                    </VListItem>
                </VList>
            </VSlideYTransition>
        </div>
    </div>
</template>

<script lang="ts" setup>
import { computed, ref } from 'vue';

const props = defineProps<{
    label?: string,
    modelValue?: string,
    loading: boolean,

    list: string[],
}>();

const focus = ref(false)

const emit = defineEmits<{
    (e: 'update:modelValue', value?: string): void;
    (e: 'selected', value: string): void;
}>();

const value = computed({
    get() { return props.modelValue },
    set(v: string | undefined) { emit("update:modelValue", v) },
})
</script>

<style lang="sass" scoped>

.autocomplete
    position: relative
    overflow-y: visible

    .search
        margin-bottom: -37px !important

    .completion
        position: absolute
        left: 0
        right: 0
        z-index: 5
        background: rgb(var(--v-theme-surface))
</style>