<template>
    <AutoComplete
        v-model="value"
        :loading="loading"
        :list="list.options"
        label="Ingredient"
        @selected="handle"
    />
</template>

<script lang="ts" setup>
import AutoComplete from './AutoComplete.vue';
import { ref, watch } from 'vue';
import { MainProvider } from '@/provider';
import { Reactive, recipes } from '@/store';

class Searched extends Reactive {
    options: Array<string> = [];
    searched: string | undefined;
}

const value = ref<string>();
const loading = ref(false);
const list = new Searched;

watch(value, throttleSearch);

async function doSearch(search: string) {
    let o = await MainProvider.value?.Search(search)
    if (!o) return;

    list.options = o;
    list.searched = search
}

async function throttleSearch() {
    if (loading.value) return;
    if (value.value == list.searched) return;

    const val = value.value ?? "";
    if (val.length == 0) {
        list.options = []
        list.searched = undefined;
        return;
    }
    loading.value = true;
    try {
        await doSearch(val);
    } catch (e) {
        console.error(e);
    }
    loading.value = false;

    throttleSearch();
}

async function handle(name: string) {
    value.value = "";
    const out = await MainProvider.value?.FetchRelatedCraft(name);
    if (out) {
        recipes.list.push(...out);
    }
}

</script>