<template>
    <VRow>
        <VField single-line hide-details v-slot:default="{ focus, blur }" :focused="true">
            <input type="number" v-model="ing.qte" @focus="focus" @blur="blur" />
            <span class="ma-2">&times;</span>
            <input type="text" v-model="ing.name" @focus="focus" @blur="blur" />
        </VField>
        <VBtn icon="delete" @click="emit('delete')" color="grey" size="x-small" />
    </VRow>
</template>
<script lang="ts" setup>
import { $ref } from 'vue/macros';
import { IngredientInfo } from './store';

const props = defineProps<{
    ing: IngredientInfo,
}>();

const emit = defineEmits<{
    (e: 'delete'): void
}>();

let ing = $ref(props.ing);
</script>


<style scoped lang="sass">
input
    outline: none

    &[type=number]
        text-align: right
        max-width: 50px
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button
            -webkit-appearance: none
            margin: 0

    &[type=text]
        flex: 1
        min-width: 0
        text-align: left

button
    border-top-left-radius: 0
    border-bottom-left-radius: 0
    position: relative
    top: 11px
</style>
