<template>
    <TransitionGroup name="insertion">
        <Ingredient
            v-for="ing in ingredients.list"
            :key="ing.id"
            :ing="ing"
            @delete="ingredients.delete(ing.id)"
            class="insertion-item"
        />
    </TransitionGroup>
    <VBtn color="primary" @click="ingredients.add()" icon="add" />
</template>

<script lang="ts" setup>
import Ingredient from "./Ingredient.vue";

import { $ref } from "vue/macros";
import { IngredientListInfo } from "./store";

const props = defineProps<{
    ingredients: IngredientListInfo,
}>();

let ingredients = $ref(props.ingredients);
</script>

<style lang="sass" scoped>
.insertion-item
    transition: all .8s ease
    height: 100px

.insertion-enter-from,
.insertion-leave-to
    opacity: 0
    height: 12px

button
    margin-top: -43px
    border-top-right-radius: 0
    border-top-left-radius: 0
</style>