<template>
  <VExpansionPanel>
    <VExpansionPanelTitle>
      <VImg
        v-if="ingredient.uiInfo?.image != undefined"
        max-height="50"
        max-width="50"
        style="margin-top: -15px; margin-bottom: -15px"
        :src="ingredient.uiInfo?.image"
      />
      {{ name }}
      <h6 class="ml-3">{{ desc }}</h6>
    </VExpansionPanelTitle>
    <VExpansionPanelText class="ma-5">
      <VRow>
        <VTextField label="Owned" v-model="ingredient.initQte" type="number" />
      </VRow>
      <VRow class="arduousnessRow">
        <VSwitch
          color="primary"
          class="canBeCrafted"
          hide-details
          v-model="hasArduousness"
          :label="'Can be crafted'"
        />

        <VTextField
          label="Arduousness"
          v-model="ingredient.arduousness"
          type="number"
          class="arduousness"
          :class="{ hidden: !hasArduousness }"
        />
      </VRow>
      <VRow>
        <VTextField label="Quantity wanted" v-model="ingredient.qteWanted" type="number" />
      </VRow>
      <VRow>
        <VBtn @click="ingredient.addRelatedCraft()" flat>Fetch how to craft this ingredient</VBtn>
      </VRow>
    </VExpansionPanelText>
  </VExpansionPanel>
</template>

<script lang="ts" setup>
import { IngredientSetting } from '@/store';
import { computed } from 'vue';
import { $ } from 'vue/macros';


const props = defineProps<{
  name: string,
  ingredient: IngredientSetting
}>();

const { name, ingredient } = $(props);

const hasArduousness = computed({
  get() { return ingredient.arduousness != null; },
  set(v: boolean) { ingredient.arduousness = (v ? 1 : null); },
});

const desc = computed(() => {
  let out = [];
  if (ingredient.initQte != 0) {
    out.push(`already has ${ingredient.initQte} of them`)
  }

  if (ingredient.qteWanted != 0) {
    out.push(`want ${ingredient.qteWanted}`)
  }

  if (ingredient.arduousness != null) {
    out.push(`can be crafted with a cost of ${ingredient.arduousness}`)
  }

  return out.join(", ")
});
</script>

<style lang="sass" scoped>

.arduousnessRow
  flex-wrap: nowrap
  .canBeCrafted
    flex: 1 1 250px
    // margin-right: 50px
  .arduousness
    flex: 1 1 100%
    max-width: 85%
    opacity: 1
    transition-property: max-width, opacity
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1)
    transition-duration: 1s, .5s
    &.hidden
      transition-delay: 0s, .5s
      transition-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19)
      max-width: 0
      opacity: 0
</style>