<template>
    <template v-if="info.name">{{ info.name }}:</template>
    {{
        info.from.list.map(e => e.toString()).join(" + ")
    }}
    <VIcon class="ma-3">double_arrow</VIcon>
    {{
        info.to.list.map(e => e.toString()).join(" + ")
    }}
</template>

<script lang="ts" setup>
import { $ref } from "vue/macros"
import { RecipeInfo } from "../store"

const props = defineProps<{
    recipe: RecipeInfo,
}>();

const info = $ref(props.recipe);
</script>