<template>
  <VExpansionPanel>
    <VExpansionPanelTitle>
      <RecipeName :recipe="recipe" />
      <VSpacer />
      <VBtn icon="delete" class="mr-5" @click="emit('delete')" />
    </VExpansionPanelTitle>
    <VExpansionPanelText class="ma-5">
      <VTextField v-model="info.name" label="Name" hideDetails />
      <VRow align="center">
        <VCol class="text-center">
          <IngredientList :ingredients="info.from" />
        </VCol>
        <VIcon class="ma-5" color="secondary" style="font-size: 3em">double_arrow</VIcon>
        <VCol class="text-center">
          <IngredientList :ingredients="info.to" />
        </VCol>
      </VRow>
    </VExpansionPanelText>
  </VExpansionPanel>
</template>

<script lang="ts" setup>
import IngredientList from "./IngredientList.vue";
import { $ref } from "vue/macros"
import { RecipeInfo } from "./store"
import RecipeName from "./RecipeName.vue";

const props = defineProps<{
  recipe: RecipeInfo,
}>();

const emit = defineEmits<{
  (e: 'delete'): void
}>();

const info = $ref(props.recipe);
</script>
