<template>
  <VApp theme="dark" class="mb-5">
    <VAppBar>
      <!-- <VAppBarNavIcon /> -->
      <VAppBarTitle>CRAFT SOLVER</VAppBarTitle>
    </VAppBar>

    <!-- <VNavigationDrawer></VNavigationDrawer> -->

    <VMain style="margin-bottom: 100px">
      <VContainer>
        <VExpansionPanels>
          <Recipe v-for="v in recipes.list" :key="v.id" :recipe="v" @delete="recipes.delete(v.id)" />
        </VExpansionPanels>
        <VRow justify="center" class="my-2">
          <VBtn @click="run" class="ma-3" color="primary">RUN</VBtn>
          <VBtn @click="recipes.add()" class="ma-3" color="secondary">ADD</VBtn>
        </VRow>

        <AutoCompleteIngredient />

        <VExpansionPanels>
          <IngredientSetting
            v-for="[name, ing] in ingredients"
            :key="name"
            :name="name"
            :ingredient="ing"
          />
        </VExpansionPanels>

        <VCard class="my-5">
          <VCardTitle>Result</VCardTitle>
          <VCardText class="ma-5">
            <h3>Results: {{ result.status }}</h3>
            <h4>Must farm :</h4>
            <ul>
              <li v-for="[ing, qte] of result.must_farm" :key="ing">{{ qte }} &times; {{ ing }}</li>
            </ul>

            <h4>Recipe :</h4>
            <ul>
              <li v-for="[id, qte] of result.recipe" :key="id">
                {{ qte }} &times;
                <RecipeName :recipe="recipes.find(id)!" />
              </li>
            </ul>
          </VCardText>
        </VCard>
      </VContainer>
    </VMain>

    <VFooter fixed left right bottom elevation="24">
      <VSpacer />
      <VProgressCircular v-if="load === undefined" indeterminate color="primary" />
      <template v-else>
        {{ load }}
        <VSwitch
          v-model="recursive"
          label="Recursive fetch"
          color="primary"
          hide-details
          style="width: 0; margin-left: 50px;"
        />
        <template v-if="MainProvider?.PendingInfo">Pending requests: {{ MainProvider?.PendingInfo }}</template>
      </template>
      <VSpacer />
    </VFooter>
  </VApp>
</template>

<script lang="ts" setup>
import { $ref } from "vue/macros"

import Recipe from "./components/Recipe.vue";
import AutoCompleteIngredient from "./components/AutoCompleteIngredient.vue";

import { recipes, ingredients, recursive } from "./store";
import { Module, runModel, RunResult } from "./solver";
import IngredientSetting from "./components/IngredientSetting.vue";
import { ref } from "vue";
import RecipeName from "./components/RecipeName.vue";
import { MainProvider } from "./provider";
import { NMS } from "./provider/nms";

MainProvider.value = new NMS;

let load = $ref<string>();
Module
  .then(mod => {
    load = `Loaded GLPK v${mod.UTF8ToString(mod._glp_version())}`;
  }, err => {
    load = `Error: ${err}`;
  });

let result = ref<RunResult>({
  status: "undefined",
  recipe: new Map,
  must_farm: new Map
});

async function run() {
  result.value = await runModel();
}
</script>

<style lang="sass" scoped>

footer
  z-index: 9
</style>


footer
  z-index: 9
