html
	background-color: #222
	color: white

body
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif

a
	color: rgb(0,100,200)
	text-decoration: none
	&:hover
		text-decoration: underline
	&:visited
		color: rgb(0,80,160)

label
	display: block

input, button, select, textarea
	background-color: #555
	color: white
	font-family: inherit
	font-size: inherit
	-webkit-padding: 0.4em 0
	padding: 0.4em
	margin: 0 0 0.5em 0
	box-sizing: border-box
	border: 1px solid #ccc
	border-radius: 2px

input:disabled
	color: #ccc

button
	color: #333
	background-color: #f4f4f4
	outline: none

	&:disabled
		color: #999
	&:not(:disabled):active
		background-color: #ddd
	&:focus
		border-color: #666
